#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-brand img {
  max-width: 150px;
  height: 100%;
}

#projects .card .card-body .card-subtitle a, #contact div a i.bi {color: #f6ed5e;}
